.App {
  text-align: center;
}
.cards {
  float: left;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.persons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 232px;
  float: left;
  border: 1px solid #64ffb0;
  margin: 10px;
  padding: 15px;
  background: #64ffb0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color: #333;
}